@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-white: #fff;
	--color-translucent-white: #d7ccc0;
	--color-light: #f5f4f0;
	--color-basic: #fe8a02;
	--color-basic-dark: #42413c;
	--color-dark: #2a2626;
	--color-translucent-dark: #908d8b;
	--color-brown: #b09a81;
	--color-blue: #1085c5;
	--basic-font: 'Open Sans', sans-serif;
	--heading-font: 'Neucha', cursive;
	--heading-h1-orange: normal 400 72px/86px 'Neucha', cursive;
	--heading-h1-black: normal 400 72px/72px 'Neucha', cursive;
	--heading-h2: normal 400 60px/72px 'Neucha', cursive;
	--heading-h3: normal 400 34px/41px 'Neucha', cursive;
	--main-sections-text: normal 400 16px/26px 'Open Sans', sans-serif;
	--main-sections-translucent-text: normal 400 24px/29px 'Neucha', cursive;
	--main-section-text-how-does-manifest: normal 700 14px/17px 'Open Sans', sans-serif;
	--main-section-text-number: normal 400 64px/70px 'Neucha', cursive;
	--main-section-text-btn: normal 700 16px/26px 'Open Sans', sans-serif;
	--section-width-content: 1100px;
	--section-align-center-content: center;
	--container-padding-top-bottom: 100px 0px 100px 0px;
	--section-nav-number: normal 400 64px/70px 'Neucha', cursive;
}

html {
	line-height: 1.6em;
}
  
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.bcg-img {
	position: relative;
	width: 100%;
	height: 100%;
}

.bcg-img::before {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.1;
	content: '';
}

.bcg-color {
	background-color: var(--color-light);
}

.container-align-center {
	display: flex;
	flex-direction: column;
	align-items: var(--section-align-center-content);
}

.container {
	position: relative;
	max-width: 1110px;
	min-height: 900px;
	display: flex;
	flex-direction: column;
	padding: var(--container-padding-top-bottom);
}

.color-orange {
	color: var(--color-basic);
}

.color-white {
	color: var(--color-white);
}

.main-orange-h1 {
	margin-bottom: -10px;
	font: var(--heading-h1-orange);
	z-index: 20;
}

.color-dark {
	color: var(--color-dark);
}

.main-dark-h1 {
	font: var(--heading-h1-black);
	z-index: 20;
}

.first-img-item {
	position: absolute;
	top: 75px;
	right: -175px;
	z-index: 10;
}

.row-text {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin-top: 164px;
	font: var(--main-sections-text);
	color: var(--color-dark);
}

.gap-30 {
	gap: 30px;
}

.w-540 {
	width: 540px;
}

.btn {
	width: 148px;
	height: 49px;
	margin: 40px 0 0 570px;
	padding: 11px 23px;
	border: #fff;
	font: var(--main-section-text-btn);
	color: var(--color-white);
	background-color: var(--color-basic);
	text-transform: uppercase;
}

.btn-link {
	text-decoration: none;
	color: var(--color-white);
}

.section-video {
	align-items: center;
	max-width: 1110px;
	height: 800px;  
	text-align: center;
}

.gap-1 {
	gap: 1rem;
} 

.main-h2 {
	font: var(--heading-h2);
}

.main-section-text {
	font: var(--main-sections-text);
}

.mr-tb {
	margin-top: 27px;
	margin-bottom: 30px;
}

.video {
	width: 919px;
	height: 569px;
	border: none;
	filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation {
	display: flex;
	flex-flow: row wrap;
	padding-top: 100px;
}
  
.header-h2 {
	font: normal 400 52px/62px 'Neucha', cursive;
}

.navigation h2 {
	font-size: 3.25rem;
}

.navigation h3 {
	font: var(--heading-h3);
	color: var(--color-basic);
}

.navigation p {
	font: var(--main-sections-text);
	color: var(--color-dark);
}

.navigation span {
	color: var(--color-basic-dark);
} 

.navigation .color-white {
	color: var(--color-white);
}

.navigation a:hover span {
	color: var(--color-white);
}

.navigation a:hover,
.navigation a:hover h3 {
	color: var(--color-white);
	background-color: var(--color-basic);
}

.navigation a:hover p {
	color: var(--color-white);
}

.card {
	width: 350px;
}
  
a.card {
	display: block;
	padding: 1.5rem;
	background-color: var(--color-light);
}
  
.card-number {
	display: inline-block;
	font: var(--section-nav-number);
	margin-bottom: 40px;
}

.navigation h3 {
	margin-bottom: 16px;
}
  
.navigation .h3-4 {
	margin-bottom: 12px;
}
 
.gap-1 {
	gap: 1rem;
}

.bcg-dark {
	background-color: var(--color-basic-dark);
	width: 100%;
}

.link-card {
	text-decoration: none;
}

.info-cont {
	display: flex;
	flex-direction: row;
}

.display-column {
	display: flex;
	flex-direction: column;
}

.mr-100 {
	margin-top: 100px;
}

.mr-20 {
	margin-bottom: 20px;
}

.row-text-main-section {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	font: var(--main-sections-text);
}


.translucent-text-dark {
	font:var(--main-sections-translucent-text);
	color:var(--color-translucent-dark);
}

.translucent-text-light {
	font:var(--main-sections-translucent-text);
	color:var(--color-translucent-white);
}

.heading-h3 {
	font: var(--heading-h3);
}

.mr-30 {
	margin-bottom: 30px;
}

.bcg-how-dark {
	background-color: var(--color-brown);
	width: 1110px;
	height: 26px;
}

.bcg-how-light {
	background-color: var(--color-light);
	width: 1110px;
	height: 26px;
}

.text-how-does-manifest-white {
	font: var(--main-section-text-how-does-manifest);
	color: var(--color-white);
	text-transform: uppercase;
	padding: 5px;
}

.text-how-does-manifest-dark {
	font: var(--main-section-text-how-does-manifest);
	color: var(--color-brown);
	text-transform: uppercase;
	padding: 5px;
}

.bcg-color-dark {
	background-color: var(--color-brown);
}

.mr-30-left {
	margin-left: 30px;
}

.mr-30-right {
	margin-right: 30px;
}

